@import '../../styles/config';

.root {
	width: 100%;
}

.images {
	display: flex;
	justify-content: center;
	width: 100%;
	align-items: center;
}

.newImage {
	width: 23vw;
	margin: 0.2em;
}

.icon {
	width: 2em;
	height: 2em;
}
